body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.centered {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 200px;
  text-align: center;
}

.centered-background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: #fc4c02;
}